.todoHeader{
  width:100%;
  background-color: #000000;
  text-align: center;
  color: white;
}

.todoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 400px;
  width: 100%;
}

.todoItemContainer{
  display: flex;
  flex-direction: row;
  max-width: 400px;
  box-sizing: border-box;
  margin-top: 20px;
  justify-content: space-between;
  width: 100%;
}

.todoItemTextBlock{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todoContainerSize{
  max-width: 400px;
  width:100%;
}

.centralPosition{
  margin-left: auto;
  margin-right: auto;
}

.button-height{
  height:50px ;
}

.mt-20{
  margin-top: 20px;
}
